<!-- This serves as the base template and theme of the website -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Vittrigas - Online Store</title>

    <!--Tab Logo Header Image-->
    <!-- <link rel="icon" href="{% static '/blueginza/img/beluga_logo.png' %}"> -->

    <!-- Links to the css files -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="{% static 'js/base.js' %}"></script>
    {% block css %}
    {% endblock %}

</head>
<body>

<div class="grid-container">

    <!-- This contains the Navigation Bar -->
    <header class="head">
        <nav class="navbar">
            <div class="nav-left">
                <a href="{% url 'index' %}" class="nav-item">Home</a>
                <a href="{% url 'store:product' %}" class="nav-item">Store</a>
            </div>
            <div class="nav-center">
                <a href="{% url 'index' %}" id="nav-logo" class="nav-item">Vittrigas</a>
            </div>

            <div class="nav-right">
                <a href="{% url 'login' %}" class="nav-item">Login</a>
                <a href=
                {% if user.is_authenticated %}
                    "{% url 'store:profile' username=user.username %}"
                {% else %}
                    "{% url 'login' %}"
                {% endif %}

                 class="nav-item">Profile</a>
            </div>
        </nav>
        <nav class="collapsed-navbar">
            <div class="hamburger" id="hamburger">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <div class="nav-right-logo">
                <a href="#" id="nav-logo-shrink" class="nav-item">Vittrigas</a>
            </div>
        </nav>
        <div class="nav-pop">
            <a href="{% url 'index' %}" class="nav-item">Home</a>
            <a href="{% url 'store:product' %}" class="nav-item">Store</a>
            <a href="{% url 'login' %}" class="nav-item">Login</a>
                <a href=
                {% if user.is_authenticated %}
                    "{% url 'store:profile' username=user.username %}"
                {% else %}
                    "{% url 'login' %}"
                {% endif %}

                 class="nav-item">Profile</a>

        </div>
        
    </header>

    <!-- This would contain the main contents of the page -->
<section class="content">
        {% block content %}
        {% endblock %}
</section>

    <footer class="footer">
    <div class="info">
        <!-- This is the info columns -->
        <div class="company-info">
            <ul class="company-info-list-store">
                <li class="list-item"><h3 class="company-info-list-head">Vittrigas Store</h3></li>
                <li class="list-item fa-item"><a href="{% url 'store:product' %}"> Products</a></li>
            </ul>
            <ul class="company-info-list-about">
                <li class="list-item"><h3 class="company-info-list-head">About Us!</h3></li>
                <li class="list-item fa-item">Our Vision</li>
                <li class="list-item fa-item">Our Team </li>
            </ul>
        </div>
        <!-- This is the social media links -->
            <ul class="social-media">
                <li class="list-item"><h3 class="company-info-list-head">Follow Us!</h3></li>
                <li class="list-item"><a href="https://www.facebook.com" class="social-icon"><i class="social-icon fab fa-facebook-f"></i></a></li>
                <li class="list-item"><a href="https://www.instagram.com" class="social-icon"><i class="social-icon fab fa-instagram"></i></a></li>
                <li class="list-item"><a href="https://www.twitter.com" class="social-icon"><i class="social-icon fab fa-twitter"></i></a></li>
                <li class="list-item"><a href="https://www.pinterest.com" class="social-icon"><i class="social-icon fab fa-pinterest"></i></i></a></li>
            </ul>
        <!-- This is the contact information -->
            <ul class="contact">
                <li class="list-item"><h3 class="company-info-list-head">Contact Us!</h3></li>
                <li class="list-item"><i class="fas fa-map-marker-alt"></i> SeoulTech, South Korea</li>
                <li class="list-item"><i class="fas fa-phone"></i> +82 2-1234-5678</li>
                <li class="list-item"><i class="fas fa-envelope"></i> <a style="color:white" href="mailto:info@vittrigas.com">info@vittrigas.com</a> </li>
            </ul>
    </div>
        <!-- This is the map pinned to seoultech -->
        <div class="map">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=SeoulTech+(Vittrigas)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                <a href="https://www.gps.ie/collections/personal-trackers/">Personal GPS</a>
            </iframe>
        </div>
        
        
    </footer>
</div>

<!-- Links to the javascript files -->
<script src="{% static 'js/base.js' %}"></script>
{% block js %}
{% endblock %}

</body>
</html>