<!-- This serves as the base template and theme of the website -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Vittrigas</title>

    <!--Tab Logo Header Image-->
    <!-- <link rel="icon" href="{% static '/blueginza/img/beluga_logo.png' %}"> -->

    <!-- Links to the css files -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}
    {% endblock %}

</head>
<body>

<div class="grid-container">

    <!-- This contains the Navigation Bar -->
    <header class="head">
        <nav class="navbar">
            <div class="nav-left">
                <a href="#" class="nav-item">Home</a>
                <a href="#" class="nav-item">Shop</a>
                <a href="#" class="nav-item">Accessories</a>
            </div>
            <div class="nav-center">
                <a href="#" id="nav-logo" class="nav-item">Vittrigas</a>
            </div>

            <div class="nav-right">
                <a href="#" class="nav-item">Collections</a>
                <a href="#" class="nav-item">Brands</a>
                <a href="#" class="nav-item">Contact</a>
            </div>
        </nav>
        <nav class="collapsed-navbar">
            <div class="hamburger">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <div class="nav-right-logo">
                <a href="#" id="nav-logo-shrink" class="nav-item">Vittrigas</a>
            </div>
        </nav>
        <div class="nav-pop">
            <a href="#" class="nav-item">Home</a>
            <a href="#" class="nav-item">Shop</a>
            <a href="#" class="nav-item">Accessories</a>
            <a href="#" class="nav-item">Collections</a>
            <a href="#" class="nav-item">Brands</a>
            <a href="#" class="nav-item">Contact</a>
        </div>
        
    </header>

    <!-- This would contain the main contents of the page -->
    <section class="content">
        {% block content %}
        {% endblock %}
    </section>

    <footer class="footer">
        <!-- This is the map pinned to seoultech -->
        <div class="map"><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=SeoulTech+(Vittrigas)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/collections/personal-trackers/">Personal GPS</a></iframe></div>
        
        <div class="wrapper">
            <div class="contact">
                <div class="company info">
                    <ul class="company-info-list">
                        <li class="company-info list-item"><h3 class="company-info-list-head">Vittrigas</h3></li>
                        <li class="company-info list-item fa-item">The house that fries chicken.</li>
                        <li class="company-info list-item"><img src="{% static 'img/cards.png' %}" alt="Image of payment options" class="payment-cards"></li>
                    </ul>
                </div>
                <div class="shopping info">
                    <ul class="shopping-info-list">
                        <li class="shopping-info list-item"><h3 class="shopping-info-list-head">SHOPPING</h3></li>
                        <li class="shopping-info list-item"><a href="" class="fa-item">Furniture Store</a></li>
                        <li class="shopping-info list-item"><a href="" class="fa-item">Trending Appliances</a></li>
                        <li class="shopping-info list-item"><a href="" class="fa-item">Accessories</a></li>
                        <li class="shopping-info list-item"><a href="" class="fa-item">Sale</a></li>
                    </ul>
                </div>
                <div class="contact-info info">
                    <ul class="contact-info-list">
                        <li class="contact-info list-item"><h3 class="contact-info-list-head">Others</h3></li>
                        <li class="contact-info list-item"><a href="" class="fa-item">Contact Us</a></li>
                        <li class="contact-info list-item"><a href="" class="fa-item">Payment Method</a></li>
                        <li class="contact-info list-item"><a href="" class="fa-item">Delivery</a></li>
                        <li class="contact-info list-item"><a href="" class="fa-item">Return and Exchange</a></li>
                    </ul>
                </div>
                <div class="newletter info">
                    <ul class="newletter-list">
                        <li class="newletter list-item"><h3 class="newletter-list-head">Newletter</h3></li>
                        <li class="newletter list-item fa-item">Be the first to know about new arrivals, look books, sales & promos!</li>
                        <li class="newletter list-item">
                            <div class="mail">
                                <input type="email" placeholder="Your Email" class="email-newletter">
                                <div class="icon-container">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
                                        <path d="M21 4H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4-9 6-9-6V6l9 6 9-6v2z"/>
                                    </svg>
                                </div>
                                
                            </div>
                        </li>
                        <hr class="newletter-hr">
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Links to the javascript files -->
<script src="{% static 'js/base.js' %}"></script>
{% block js %}
{% endblock %}

</body>
</html>