<!-- This serves as the base template and theme of the website -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Vittrigas - Online Store</title>

    <!--Tab Logo Header Image-->
    <!-- <link rel="icon" href="{% static '/blueginza/img/beluga_logo.png' %}"> -->

    <!-- Links to the css files -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="{% static 'js/base.js' %}"></script>
    {% block css %}
    {% endblock %}

</head>
<body>

<div class="grid-container">

    <!-- This contains the Navigation Bar -->
    <header class="head">
        <nav class="navbar">
            <div class="nav-left">
                <a href="#" class="nav-item">Home</a>
                <a href="#" class="nav-item">Shop</a>
                <a href="#" class="nav-item">Accessories</a>
            </div>
            <div class="nav-center">
                <a href="#" id="nav-logo" class="nav-item">Vittrigas</a>
            </div>

            <div class="nav-right">
                <a href="#" class="nav-item">Collections</a>
                <a href="#" class="nav-item">Brands</a>
                <a href="#" class="nav-item">Contact</a>
            </div>
        </nav>
        <nav class="collapsed-navbar">
            <div class="hamburger">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <div class="nav-right-logo">
                <a href="#" id="nav-logo-shrink" class="nav-item">Vittrigas</a>
            </div>
        </nav>
        <div class="nav-pop">
            <a href="#" class="nav-item">Home</a>
            <a href="#" class="nav-item">Shop</a>
            <a href="#" class="nav-item">Accessories</a>
            <a href="#" class="nav-item">Collections</a>
            <a href="#" class="nav-item">Brands</a>
            <a href="#" class="nav-item">Contact</a>
        </div>
        
    </header>

    <!-- This would contain the main contents of the page -->
<section class="content">
    <!-- Intro -->
    <div class="content-intro">
        <h1 class="content-intro-head">Welcome to Vittrigas!</h1>
        <p class="content-intro-text">Located in Seoul, we are a new artisan workshop prepared to offer the highest quality furniture. 
            We combine tradition and innovation, in an attempt to offer a distinguished finish. Make your house a home with Vittrigas. </p>
        <a href="/vittrigas/templates/product_list.html" class="shop-now">Shop Now</a>
    </div>

      <!-- Image slider container -->
    <div class="slider-container">
        <section class="slider" >
            <div class="slider-images">
            <img src="/media/products/lebron.png" alt="Article 1" class="slide active">
            <img src="/media/products/lebron.png" alt="Article 2" class="slide">
            <img src="/media/products/tree.png" alt="Article 3" class="slide">
            <!-- Add more images as needed -->
            </div>
            <!-- Navigation buttons -->
            <button class="slider-btn prev" aria-label="Previous Slide">&#10094;</button>
            <button class="slider-btn next" aria-label="Next Slide">&#10095;</button>
            <!-- Slider Dots -->
            <div class="slider-dots">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </section>         
    </div>

    <!-- OUR VISION -->
    <div class="content-vision">
        <h1 class="content-vision-head">Our vision</h1>
        <p class="content-vision-text">As humans, we owe everything to nature. That's why we need to protect it at all costs. In Vittrigas, we believe in the power of 
            joint action. Every little gesture counts. There's no Planet B. </p>
        <a href="#" class="vision-button">Learn More!</a>
    </div>

      <!-- Image container -->
    <div class="vision-image">
        <img src="/media/products/tree.png" alt="The Team" class="vision-image-img">
        <p class="vision-image-text">Acacia tree. Amazon forest</p>   
    </div>

    <!-- User  -->
    <div class="content-user">
        <h1 class="content-user-head">Enjoy personalized experience.</h1>
        <p class="content-user-text"> In our online store, you can find a wide variety of products. We offer a personalized experience, 
            where you can choose the product that best suits your needs. With your personal account, shop in an instant, get personalized recommendations and the latest updates on our newsletter. 
            Shopping has never been easier! What are you waiting for? </p>
        </p>
        
        <a href="#" class="user-button">Sign up Today!</a>
    </div>

      <!-- User Image container -->
    <div class="user-image">
        <img src="/media/products/tree.png" alt="Enjoy user experience" class="user-image-img">  
    </div>


        {% block content %}
        {% endblock %}
</section>

    <footer class="footer">
    <div class="info">
        <!-- This is the info columns -->
        <div class="company-info">
            <ul class="company-info-list-store">
                <li class="list-item"><h3 class="company-info-list-head">Vittrigas Store</h3></li>
                <li class="list-item fa-item"><a href="#">New Collection</a></li>
                <li class="list-item"><a href="#">Best Sellers</a></li>
            </ul>
            <ul class="company-info-list-about">
                <li class="list-item"><h3 class="company-info-list-head">About Us!</h3></li>
                <li class="list-item fa-item">Our Vision</li>
                <li class="list-item fa-item">Our Team </li>
            </ul>
        </div>
        <!-- This is the social media links -->
            <ul class="social-media">
                <li class="list-item"><h3 class="company-info-list-head">Follow Us!</h3></li>
                <li class="list-item"><a href="https://www.facebook.com" class="social-icon"><i class="social-icon fab fa-facebook-f"></i></a></li>
                <li class="list-item"><a href="https://www.instagram.com" class="social-icon"><i class="social-icon fab fa-instagram"></i></a></li>
                <li class="list-item"><a href="https://www.twitter.com" class="social-icon"><i class="social-icon fab fa-twitter"></i></a></li>
                <li class="list-item"><a href="https://www.pinterest.com" class="social-icon"><i class="social-icon fab fa-pinterest"></i></i></a></li>
            </ul>
        <!-- This is the contact information -->
            <ul class="contact">
                <li class="list-item"><h3 class="company-info-list-head">Contact Us!</h3></li>
                <li class="list-item"><i class="fas fa-map-marker-alt"></i> SeoulTech, South Korea</li>
                <li class="list-item"><i class="fas fa-phone"></i> +82 2-1234-5678</li>
                <li class="list-item"><i class="fas fa-envelope"></i> <a style="color:white" href="mailto:info@vittrigas.com">info@vittrigas.com</a> </li>
            </ul>
    </div>
        <!-- This is the map pinned to seoultech -->
        <div class="map">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=SeoulTech+(Vittrigas)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                <a href="https://www.gps.ie/collections/personal-trackers/">Personal GPS</a>
            </iframe>
        </div>
        
        
    </footer>
</div>

<!-- Links to the javascript files -->
<script src="{% static 'js/base.js' %}"></script>
{% block js %}
{% endblock %}

</body>
</html>