{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block content %}

<div class="checkout">
    <div class="summary">
        <div class="summary-header">
            <p class="order-summary">Order Summary</p>
            <hr>
        </div>
        <div class="items">
            {% for item in cart.items.all %}
                <div class="item">
                    <div class="product-img">
                        <img src="{{ item.product.img.url }}" alt="image of {{ item.product.name }}" class="item-img">
                    </div>
                    <div class="details">
                        <p class="name">{{ item.product.name }}s</p>
                        <p class="quantity">€{{ item.product.price }} x {{ item.quantity }} pieces</p>
                    </div>
                    
                </div>
                <div class="product-total">
                    € <span class="total-product-price">{{ item.get_total_price }}</span>
                </div>
                <hr>
            {% endfor %}
        </div>
        <div class="computation">
            <div class="vat">
                <div class="vat-left">VAT <span class="vat-pct">12</span>%</div>
                <div class="vat-right">€<span class="total-vat"></span></div>
            </div>
            <div class="delivery">
                <div class="delivery-left">Delivery</div>
                <div class="delivery-right">€<span class="total-delivery">9.99</span></div>
            </div>
            <div class="total">
                <div class="total-left">TOTAL</div>
                <div class="total-right">€<span class="total-price"></span></div>
            </div>
        </div>
    </div>
    <div class="payment">
        <div class="method">
            <p class="desc">Please select your card: </p>

            <div class='dropdown' id='card-dropdown'><div class='dropdown-btn' id='current-card'>Visa</div>
                <div class='dropdown-select'>
                    <ul>
                        <li class="credit-item">Master Card</li>
                        <li class="credit-item">American Express</li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="logo">
            <img class="payment-logo" src="{% static 'img/payment/visa.png' %}" alt="Image of Visa Card">
        </div>
        <div class="card-details">
            <form method="POST">
                {% csrf_token %}

                <!-- Non-field errors (e.g. passwords don't match) -->
                {% if form.non_field_errors %}
                <div class="field-error">
                    {% for error in form.non_field_errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="card-row">
                    <label for="card-number">Card Number </label>
                    <input class="card-input" type="number" name="card_number" required>
                    {% for error in form.card_number.errors %}
                        <div class="field-error">{{ error }}</div>
                    {% endfor %}
                </div>
                
                <div class="card-row">
                    <label for="card-holder">Card Holder </label>
                    <input class="card-input" type="text" name="card_holder" required>
                    {% for error in form.card_holder.errors %}
                        <div class="field-error">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="card-row double">
                    <div class="expire">
                        <label for="expiry">Expires (MM/YY)</label>
                        <input class="card-input" type="text" name="expiry" required>
                        {% for error in form.expiry.errors %}
                            <div class="field-error">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="cvc-number">
                        <label for="cvc">CVC</label>
                        <input class="card-input" type="number" name="cvc" required>
                        {% for error in form.cvc.errors %}
                            <div class="field-error">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-row">
                    <button class="checkout-btn" type="submit">Checkout</button>    
                </div>

                
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}