{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/product_list.css' %}">
{% endblock %}



{% block content %}

<div class="all-products">
    {% for p in products %}
        <div class="product-container">
            <img src="{{ p.img.url }}" alt="{{ product.name }}" width="200">
            <div class="product-details">
                <div class="product-name">
                    <p class="product-name">{{ p.name }}</p>
                </div>
                <div class="product-rating">
                    <p class="product-rating">{{ p.rating }}</p>
                </div>
                <div class="product-price">
                    <p class="product-price">{{ p.price }}</p>
                </div>
                <div class="add-to-cart">
                    <button class="add-to-cart">Add To Cart</button>
                </div>
                

            </div>
        </div>

    {% endfor %}
</div>


<h1>Product</h1>
<h3>Hello Eemil</h3>

{% endblock %}




{% block js %}
<script src="{% static 'js/product_list.js' %}"></script>
{% endblock %}