{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/partials/cart_dropdown.css' %}">
{% endblock %}

{% block content %}
<div class="cart-dropdown">
    {% if cart.items.exists %}
        <ul>
            {% for item in cart.items.all %}    
                <li class="cart-item" data-item-id="{{ item.id }}">
                    <img src="{{ item.product.img.url }}" alt="{{ item.product.name }}" class="cart-item-img">
                    <span class="cart-item-name">{{ item.product.name }}</span>
                    <div class="cart-item-qty-controls">
                        <button class="qty-decrease" data-item-id="{{ item.id }}" type="button">−</button>
                        <span class="qty-number">{{ item.quantity }}</span>
                        <button class="qty-increase" data-item-id="{{ item.id }}" type="button">+</button>
                        <button class="qty-remove" data-item-id="{{ item.id }}" type="button"><img src="{% static 'img/icons/trashcan_icon.png' %}" alt="Delete button" class="trashcan-image"></img></button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Cart is empty</p>
    {% endif %}
</div>
{% endblock %}
