{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <form method="POST">
        {% csrf_token %}

        <!-- Non-field errors (e.g. passwords don't match) -->
        {% if form.non_field_errors %}
        <div class="field-error">
            {% for error in form.non_field_errors %}
                <div>{{ error }}</div>
            {% endfor %}
        </div>
       {% endif %}

        <div class="username">
            <label for="username">Username: </label>
            <input type="text" name="username" required>
            {% for error in form.username.errors %}
                <div class="field-error">{{ error }}</div>
            {% endfor %}
        </div>
        
        <div class="password1">
            <label for="password">Password: </label>
            <input type="password" name="password" required>
            {% for error in form.password.errors %}
                <div class="field-error">{{ error }}</div>
            {% endfor %}
        </div>

        <button type="submit">Login</button>
    </form>
    <div class="register-link">
        <p>Don't have an account? <a href="{}">Register here</a></p>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/accounts/login.js' %}"></script>
{% endblock %}