{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/accounts/signup.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <h1 style="text-align:center;">Sign Up</h1>
    <h3 style="text-align:center;">and start popping!</h3>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Sign Up" class="btn btn-default btn-kpop">

    </form>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/accounts/signup.js' %}"></script>
{% endblock %}